body{
  background-color:"#e63946";
}
h3{
  background_color:"#1d3557";
  color:"#f1faee"
}
bold{
  color:red;
}
.copy_right_footer{
  position:fixed;
  color:"#457b9d";
  bottom:0;
}
canvas{
  border:5px solid "#a8dadc";
   box-shadow:5px 5px 5px;
}
